.primary {
  background-color: #e24e42; }

.secondary {
  background-color: #e9b000; }

.tertiary {
  background-color: #eb6e80; }

html {
  font-family: Arial, Helvetica, sans-serif; }

body {
  margin: 0px;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column; }

.content {
  margin-top: 55px;
  flex: 1 0 auto; }

.grid {
  /*padding: 4px 8px;*/
  display: grid;
  grid-template-columns: repeat(12, 8.3333333333%); }
  .grid.center {
    justify-items: center; }
  .grid.right {
    justify-items: right; }
  .grid.vertical-center {
    align-items: center; }
  .grid.bottom {
    align-items: end; }
  .grid.fill {
    align-items: stretch; }

.item {
  grid-column-end: span 12; }

.container {
  margin: auto;
  padding: 1em 0em; }

@media only screen and (min-width: 601px) {
  .container {
    max-width: 600px; } }
@media only screen and (min-width: 992px) {
  .container {
    max-width: 950px; } }
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1000px; } }
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1400px; } }
@media only screen and (max-width: 600px) {
  .xs-1 {
    grid-column-end: span 1; }

  .xs-2 {
    grid-column-end: span 2; }

  .xs-3 {
    grid-column-end: span 3; }

  .xs-4 {
    grid-column-end: span 4; }

  .xs-5 {
    grid-column-end: span 5; }

  .xs-6 {
    grid-column-end: span 6; }

  .xs-7 {
    grid-column-end: span 7; }

  .xs-8 {
    grid-column-end: span 8; }

  .xs-9 {
    grid-column-end: span 9; }

  .xs-10 {
    grid-column-end: span 10; }

  .xs-11 {
    grid-column-end: span 11; }

  .xs-12 {
    grid-column-end: span 12; } }
@media only screen and (min-width: 601px) {
  .sm-1 {
    grid-column-end: span 1; }

  .sm-2 {
    grid-column-end: span 2; }

  .sm-3 {
    grid-column-end: span 3; }

  .sm-4 {
    grid-column-end: span 4; }

  .sm-5 {
    grid-column-end: span 5; }

  .sm-6 {
    grid-column-end: span 6; }

  .sm-7 {
    grid-column-end: span 7; }

  .sm-8 {
    grid-column-end: span 8; }

  .sm-9 {
    grid-column-end: span 9; }

  .sm-10 {
    grid-column-end: span 10; }

  .sm-11 {
    grid-column-end: span 11; }

  .sm-12 {
    grid-column-end: span 12; } }
@media only screen and (min-width: 992px) {
  .md-1 {
    grid-column-end: span 1; }

  .md-2 {
    grid-column-end: span 2; }

  .md-3 {
    grid-column-end: span 3; }

  .md-4 {
    grid-column-end: span 4; }

  .md-5 {
    grid-column-end: span 5; }

  .md-6 {
    grid-column-end: span 6; }

  .md-7 {
    grid-column-end: span 7; }

  .md-8 {
    grid-column-end: span 8; }

  .md-9 {
    grid-column-end: span 9; }

  .md-10 {
    grid-column-end: span 10; }

  .md-11 {
    grid-column-end: span 11; }

  .md-12 {
    grid-column-end: span 12; } }
@media only screen and (min-width: 1200px) {
  .lg-1 {
    grid-column-end: span 1; }

  .lg-2 {
    grid-column-end: span 2; }

  .lg-3 {
    grid-column-end: span 3; }

  .lg-4 {
    grid-column-end: span 4; }

  .lg-5 {
    grid-column-end: span 5; }

  .lg-6 {
    grid-column-end: span 6; }

  .lg-7 {
    grid-column-end: span 7; }

  .lg-8 {
    grid-column-end: span 8; }

  .lg-9 {
    grid-column-end: span 9; }

  .lg-10 {
    grid-column-end: span 10; }

  .lg-11 {
    grid-column-end: span 11; }

  .lg-12 {
    grid-column-end: span 12; } }
@media only screen and (min-width: 1600px) {
  .xl-1 {
    grid-column-end: span 1; }

  .xl-2 {
    grid-column-end: span 2; }

  .xl-3 {
    grid-column-end: span 3; }

  .xl-4 {
    grid-column-end: span 4; }

  .xl-5 {
    grid-column-end: span 5; }

  .xl-6 {
    grid-column-end: span 6; }

  .xl-7 {
    grid-column-end: span 7; }

  .xl-8 {
    grid-column-end: span 8; }

  .xl-9 {
    grid-column-end: span 9; }

  .xl-10 {
    grid-column-end: span 10; }

  .xl-11 {
    grid-column-end: span 11; }

  .xl-12 {
    grid-column-end: span 12; } }
.card {
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.46), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #dfdfdf;
  margin: 20px; }
  .card.primary {
    background-color: #e24e42; }
  .card.secondary {
    background-color: #e9b000; }
  .card.tertiary {
    background-color: #eb6e80; }
  .card .header {
    padding: .75rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    .card .header.primary {
      background-color: #e24e42; }
    .card .header.secondary {
      background-color: #e9b000; }
    .card .header.tertiary {
      background-color: #eb6e80; }
  .card .body {
    padding: 1em 1.25rem; }
  .card .footer {
    padding: 1em 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125); }

.button {
  position: relative;
  border: none;
  color: white;
  padding: 0px 16px;
  line-height: 30px;
  margin: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.46), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .button.primary {
    background-color: #e24e42; }
  .button.secondary {
    background-color: #e9b000; }
  .button.tertiary {
    background-color: #eb6e80; }

.button:hover:after {
  content: "";
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.125);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  pointer-events: none;
  z-index: 100000; }

a {
  color: #eb6e80; }

nav {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0px; }
  nav.primary {
    background-color: #e24e42; }
  nav.secondary {
    background-color: #e9b000; }
  nav.tertiary {
    background-color: #eb6e80; }
  nav .nav-menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    align-items: center; }
    nav .nav-menu ul li {
      height: 55px;
      overflow: hidden;
      display: flex;
      align-items: center; }
      nav .nav-menu ul li a.nav-item {
        position: relative;
        display: inline-block;
        line-height: 55px;
        padding: 0px 16px;
        height: 100%;
        width: 100%;
        margin: 0px;
        text-decoration: none;
        font-weight: 500;
        color: white; }
      nav .nav-menu ul li a.nav-item:hover:after {
        content: "";
        background: rgba(0, 0, 0, 0.125);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0px;
        pointer-events: none;
        z-index: 100000; }

@media only screen and (max-width: 600px) {
  nav .nav-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: -600px;
    background: #dfdfdf;
    z-index: 1000;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.46), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: left .4s; }
    nav .nav-menu.active {
      left: 0px; }
    nav .nav-menu ul {
      height: unset;
      flex-wrap: wrap; }
      nav .nav-menu ul li {
        overflow: hidden;
        flex-basis: 100%; }
        nav .nav-menu ul li a.nav-item {
          display: inline-block;
          height: 100%;
          width: 100%;
          border: none;
          color: black; }

  .nav-toggle {
    z-index: 10000;
    display: inline-block;
    position: absolute;
    right: 0px;
    height: 55px;
    line-height: 55px;
    padding: 0px 32px;
    cursor: pointer;
    background-image: url(/menu-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 25px 20px;
    background-position: center; }

  .nav-toggle:hover:after {
    content: "";
    background: rgba(0, 0, 0, 0.125);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    pointer-events: none;
    z-index: 100000; } }
footer {
  flex-shrink: 0;
  padding: 32px 0px;
  display: grid; }
  footer.primary {
    background-color: #e24e42; }
  footer.secondary {
    background-color: #e9b000; }
  footer.tertiary {
    background-color: #eb6e80; }

.banner {
  position: relative;
  height: 45vh;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  color: white; }
  .banner.primary {
    background-color: #e24e42; }
  .banner.secondary {
    background-color: #e9b000; }
  .banner.tertiary {
    background-color: #eb6e80; }

/*# sourceMappingURL=all.css.map */
